<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="Ethan Garnier">
        <title>FogWatch|Official</title>
        
        <!--Link Bootrstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!--Index stylesheet-->
        <link href="../css/index.css" rel="stylesheet">


        <!--Jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="./index.html"><img src="../media/placeholder-logo.png" alt="FogWatch|Official" height="20px;"></a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./partners.html">Partners</li>
                </ul>
              </div>
            </div>
        </nav>






        <div class="jumbotron text-center">
            <a href="./index.html"><img src="../media/logo.png" alt="FogWatch logo" height="250px;"></a>
            <h3>A <em>conveniant</em> way to monitor your local weather</h3>
        </div> 



        <!--Use golang templates-->





        <div class="container-fluid text-center">    
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <p class="sideHeader">Follow us!</p>
                    <div class="well">
                        <a class="link" href="https://github.com/EthanG78" target="_blank"><img src="../media/github.png" height="55px;"></a>
                    </div>
                    <div class="well">
                        <a class="link" href="#" target="_blank"><img src="../media/facebook.png" height="55px;"></a>
                    </div>
                </div>
                <div class="col-sm-8 text-left"> 
                    <h1>Search for your local weather</h1>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">Current locations<span class="caret"></span></button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">Saint-John West</a>
                            <a href="#">Uptown Saint-John</a>
                            <a href="#">Saint-John East</a>
                        </div>
                    </div>
                    <h3>Weather Monitor Status</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                #
                                </th>
                                <th>
                                    Position
                                </th>
                                <th>
                                    Last Updated
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>
                                    1
                                </td>
                                <td>
                                    Saint-John West
                                </td>
                                <td>
                                    get firebase key from this station
                                </td>
                                <td>
                                    Active
                                </td>
                            </tr>
                            <tr class="success">
                                <td>
                                    2
                                </td>
                                <td>
                                    Saint-John East
                                </td>
                                <td>
                                    get firebase key from this station
                                </td>
                                <td>
                                    Active
                                </td>
                            </tr>
                            <tr class="danger">
                                <td>
                                    3
                                </td>
                                <td>
                                    Uptown Saint-John 
                                </td>
                                <td>
                                    get firebase key from this station
                                </td>
                                <td>
                                    Down for service
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h3>Other stuff</h3>
                </div>
                <div class="col-sm-2 sidenav">
                    <div class="well">
                        <p>ADS</p>
                    </div>
                    <div class="well">
                        <p>ADS</p>
                    </div>
                </div>
            </div>
        </div>

































        <!--Page Footer-->
        <footer class="container-fluid text-center">
            <p>Made with <3 by the E^2 Team</p>
        </footer>

        <script type="text/javascript" src="../js/script.js"></script>

    
    </body>
</html>